canvas{
  margin-top: 40px;
  border: 1px  solid #d3d3d3;
  background-color: black;
  background: url('http://opengameart.org/sites/default/files/styles/watermarked/public/SpaceBackground1.png') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: none;
}
body{
  text-align: center;
  background: url('../img/invadersbackground.gif') center bottom no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#highScores{
  text-align: left;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: -999;
    font-size: 30px;
}

#playAgain{
  display: none;
  width: 820px;
  height: 820px;
  color: black;
  position: fixed;;
  font-size: 4em;
  top: 0;
  float: right;
}
/*#logo{
  position: fixed;
  left: 40px;
  top: 40px;
}*/
